# Misc.
biber
build-essential
curl
git
gnupg2
gosu
graphviz
latexdiff
latexmk
make
pandoc
python3-pypdf2
python3.9
python3-distutils
sudo
texlive
texlive-bibtex-extra
texlive-fonts-extra
texlive-xetex
vim
wget
xzdec

# Pyenv necessary libraries
libssl-dev
zlib1g-dev
libbz2-dev
libreadline-dev
libsqlite3-dev
llvm
libncurses5-dev
libncursesw5-dev
xz-utils
tk-dev
libffi-dev
liblzma-dev
python-openssl


